.order-group{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1em;
    border-radius: 25px;
    color: black;

    button:hover:not(.selected){
        background-color: #cddbffc9;
        font-size: 14px;
        color: black;
    }
    
    .selected{
        background-color: #7598f1c9;
        font-weight: bolder;
        color: black;
    }
    .selected:hover{
        background-color: #7598f1c9;
        color: black;
    }

    &__icon-group{
        margin: 1em;
    }
}