.order-group{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row;
    padding: 1em;
    border-radius: 25px;
    color: white;

    .selected{
        background-color: #7598f1c9;
        font-weight: bolder;
    }

    &__icon-group{
        margin: 1em;
    }
}