.feed-card-container{
       padding: 1em;
       margin:2em;
       &__top-border{
              width: 70%;
              border-top: 2px solid rgb(167, 157, 157);
              margin: auto;
       }
}