.order-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: .5em;
    background-color: #1976d2;
    border-radius: 25px;
    color: white;
}